{{developers/adding-developer}}
{{#each developers as |dev|}}
  <tr>
    <td>
      {{dev.identity}}
    </td>
    <td>
      {{dev.id}}
    </td>
    <td>
      {{#link-to "developer" "f164cfa6-2e2b-4875-8669-7b25e15cf0f1" class="btn btn-default btn-circle btn-sm"}}
        <i class="fa fa-eye"></i>
      {{/link-to}}
    </td>
  </tr>
{{/each}}
