<div class="container">
  {{#bs-navbar as |navbar|}}
    <div class="navbar-header">
      {{navbar.toggle}}
      <a class="navbar-brand">Boards</a>
    </div>
    {{#navbar.content}}
      {{#navbar.nav as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "index"}}
            <i class="fa fa-home"></i> Accueil
          {{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "projects"}}
            <i class="fa fa-list"></i> Projets
          {{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "developers"}}
            <i class="fa fa-users"></i> Développeurs
          {{/nav.link-to}}
        {{/nav.item}}
      {{/navbar.nav}}
      {{#navbar.nav class="navbar-right" as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "registration"}}
            <i class="fa fa-edit"></i> S'inscrire
          {{/nav.link-to}}
        {{/nav.item}}
        {{#if session.isAuthenticated}}
          {{#nav.item onClick=(action "logout")}}
            <i class="fa fa-sign-in"></i> Se déconnecter
          {{/nav.item}}
        {{else}}
          {{#nav.item}}
            {{#nav.link-to "connection"}}
              <i class="fa fa-sign-in"></i> Se connecter
            {{/nav.link-to}}
          {{/nav.item}}
        {{/if}}
      {{/navbar.nav}}
    {{/navbar.content}}
  {{/bs-navbar}}
  {{outlet}}
</div>
<!--
<div class="ui container">
  <div class="ui secondary menu">
    {{#link-to "index" class="item"}}
      <i class="fa fa-home"></i> Accueil
    {{/link-to}}
    {{#link-to "projects" class="item"}}
      <i class="fa fa-list"></i> Projets
    {{/link-to}}
    {{#link-to "developers" class="item"}}
      <i class="fa fa-user"></i> Développeurs
    {{/link-to}}
    {{#link-to "tags" class="item"}}
      <i class="fa fa-tag"></i> Tags
    {{/link-to}}
  </div>
</div>
-->
