<h2 class="ui header">
  <i class="folder open icon"></i>
  <div class="content">
    {{model.identity}}
  </div>
</h2>
<div class="ui divider"></div>
<div class="ui middle aligned divided list">
  {{#each model.projects as |proj|}}
  <div class="item">
    <div class="right floated content">
      <div class="ui left labeled button" tabindex="0">
        <a class="ui basic right pointing label">
          {{proj.name}}
        </a>
        <div class="ui button">
          <i class="user icon"></i> Mettre à jour...
        </div>
      </div>
    </div>
  </div>
 {{/each}}
</div>
{{outlet}}
