<h2 class="ui header">Projets</h2>
{{#link-to "projects.new" class="btn btn-default"}}
  <i class="fa fa-plus"></i> Ajouter un projet...
{{/link-to}}
<div class="ui divider"></div>
<div class="table-responsive">
	<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th class="col-xs-2">Nom</th>
        <th class="col-xs-2">Description</th>
        <th class="col-xs-2">Date de début</th>
        <th class="col-xs-2">Date de fin</th>
        <th class="col-xs-2">Propriétaire</th>
        <th class="col-xs-2"></th>
      </tr>
    </thead>
    {{projects/listing-project projects=model.projects}}
  </table>
</div>
{{outlet}}
{{#ui-table newAction='testAddNew' elements=model.projects fields=model.fields operations=model.operations emptyMessage="Aucun projet à afficher"}}{{/ui-table}}
