<h2>Tags</h2>
{{#link-to "tags.new" class="btn"}}
  <i class="fa fa-plus"></i> Ajouter un tag...
{{/link-to}}
<hr />
{{outlet}}
{{#ui-table elements=model.tags fields=model.fields operations=model.operations emptyMessage="Aucun tag à afficher"}}{{/ui-table}}
